@model UserModel
@{
    ViewData["Title"] = "Usuários";
}
<div>
    <div class="mainupdate">
        <div class="divAdicionandoBanco">
            <h3 class="text-center">Cadastrar usuário</h3>

            <form asp-controller="Users" asp-action="Add" method="post">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" class="form-control" id="name" asp-for="Nome">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">E-mail:</label>
                    <input type="text" class="form-control" id="email" asp-for="Email">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha:</label>
                    <input type="password" class="form-control" id="password" asp-for="Senha">
                </div>
                <br>
                <div class="ButtonUpd">
                    <button id="botao1Simulacao" type="submit" class="btn" style="position:relative; left:0px;">Cadastrar</button>
                    <a id="voltarSimulacao" class="btn" asp-controller="Users" asp-action="Index" style="position:relative; right:0px;">Voltar</a>
                </div>
            </form>
</div>
