@model UserModel
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 style="color:red;">Confirmação de exclusão</h1>
    <form asp-controller="Users" asp-action="Delete" method="post">
        <p>Você tem certeza que quer deletar o usuário @Model.Nome?</p>

        <a id="botaoExcluirConfirmacao" style="position: relative; right:50;" class="btn" asp-controller="Users" asp-action="Index">Não</a>
        <button id="botaoConfirmarExclusao" style="position: relative; left:50;" type="submit" class="btn">Sim</button>
    </form>
</div>