@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<form class="loginPage" asp-controller="Login" asp-action="Entrar2" method="post">
<h2>Login</h2>
  <div class="form-outline mb-4">
    <input type="text" id="login" class="form-control" asp-for="Login"/>
        <label class="form-label" for="login">Usuário</label>
        @Html.ValidationMessageFor(x => x.Login)
  </div>

  <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" asp-for="Senha"/>
        <label class="form-label" for="password">Senha</label>
        @Html.ValidationMessageFor(x => x.Senha)
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
</form>
