html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    color: crimson;
}

body {
    font-family: monospace;
    margin-bottom: 60px;
   
}

.main-body-maria {
    color: rgb(200, 118, 49);
    background-color: whitesmoke;
}

.main-footer-maria {
    background-color: crimson;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto auto;
    padding: 10px 5px;
}

.navbar-nav flex-grow-1 {
    color: antiquewhite;
}

.main-header-maria {
    background-color: crimson;
}

ul {
    color: antiquewhite;
}

tbody {
    background-color: floralwhite;
}

thead {
    background-color: floralwhite;
    color: saddlebrown;
}

tr {
    color: crimson;
}


.vl {
    border-left: 6px solid crimson;
    height: 700px;
    left: 50%;
    width: 400px;
    position: absolute;
    top: 130px;
}


.HomeText {
    position: absolute;
    left: 38px;
    text-align: center
}

#TableHome {
    position: absolute;
    left: 70px;
    top: 250px;
}

#ButtonStyle {
    color: burlywood;
    background-color: darkred;
    position: absolute;
    left: 70px;
    top: 200px;
}

#OptionsBank {
    position: absolute;
    width: 600px;
    top: 480px;
    left: 80px;
}

.separador {
    background-color: crimson;
    width: 8px;
}

.mainContainer {
    display: flex;
    
    
}

.sideContainer {
    padding: 6px;
    width: 90%;
    display: inline;
    background-color: rgb(237, 230, 224);
    border: 5px solid brown;
    align-items: center;
    justify-content: center;
}

#div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.formulario {
    width: 400px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Colorbutton {
    color: burlywood;
    background-color: darkred
}

.ContainerSimulador {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.FormularioOptions {
    background-color: #fff7eb;
    border: 1px solid brown;
    padding: 30px;
    background-color: #fff7eb;
    border: 5px solid brown;
    width: 400px;
    text-align: left;
    font-family: monospace;
}

.FormularioButtons {
    text-align: center;
}

.form-floating > .bi-calendar-date + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
}

.mainupdate {
    display: flex;
    align-items: center;
    justify-content: center;
}


.formsoption {
    background-color: #fff7eb;
    width: 600px;
    background-color: #fff7eb;
    border: 1px solid brown;
    padding: 30px;
    border: 5px solid brown;
    text-align: left;
}

#botao1Simulacao {
    background-color: coral;
    color: saddlebrown;
    position: relative;
    right: 25px;
}


    #botao1Simulacao:hover {
        background-color: rgb(190, 4, 61);
        color: antiquewhite;
    }

#voltarSimulacao {
    background-color: burlywood;
    color: floralwhite;
    width: 85px;
}

    #voltarSimulacao:hover {
        background-color: khaki;
        color: rosybrown;
    }

h5 {
    color: coral;
    text-align: center;
    font-family: monospace;
}

h1 {
    font-family: monospace;
}

p {
    font-family: monospace;
}

.linksDev {
    color: rgb(200, 118, 49);
}

.linksDev:hover{
    color: crimson;
}

#divDev {
    border-color: rosybrown;
    border-top-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-right-style: outset;
}

ul{
    color:saddlebrown;
}

#botao1CriacaoBanco {
    background-color: coral;
    color: saddlebrown;
  
}

#botao1CriacaoBanco:hover {
    background-color: rgb(190, 4, 61);
    color: antiquewhite;
}


#botao2CriacaoBanco {
    background-color: burlywood;
    color: floralwhite;
    position:relative;
    left:25px;
}

#botao2CriacaoBanco:hover {
    background-color: khaki;
    color: rosybrown;
}

input#name.form-control{
    width:450px;
}

input#Perfee.form-control {
    width: 450px;
}

.divAdicionandoBanco {
    font-family: monospace;
    background-color: #fff7eb;
    padding: 30px;
    border: 5px solid brown;
    text-align: left;
    align-items:center;
    justify-content:center
}

h3{
    font-family:monospace;
}


#botaoEditarBanco{
    background-color: orange;
    color: whitesmoke;
}

#botaoEditarBanco:hover {
    background-color: darkorange;
    color: lightyellow;
}

#botaoExcluirBanco{
    background-color:darkred;
    color:whitesmoke;
}

#botaoExcluirBanco:hover{
    background-color: red;
    color: whitesmoke;
}

#botaoNovoBanco {
    background-color: darkcyan;
}

#botaoExcluirConfirmacao {
    background-color: darkred;
    color: whitesmoke;
    position:relative;
    top:50px;
    right:50px;
}

    #botaoExcluirConfirmacao:hover {
        background-color: red;
        color: whitesmoke;
    }

#botaoConfirmarExclusao {
    background-color: orange;
    color: whitesmoke;
    position: relative;
    top: 50px;
    left:50px;
}

    #botaoConfirmarExclusao:hover {
        background-color: darkorange;
        color: lightyellow;
    }
.ButtonUpd {
    display: flex;
    align-items: center;
    justify-content:center;
}
.Icon{
 width:250px;
 height:60px;
}
a.site-logo {
    background: url(/LogoTech.png) no-repeat top left;
    display: block;
    width: 100px;
    height: 100px;
    text-indent: -9999px; /*hides the link text*/
} 
