html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    color: crimson;
}

body {
    font-family: monospace;
    margin-bottom: 60px;
    border:thin;
}

.main-body-maria {
    color: rgb(200, 118, 49);
    background-color: whitesmoke;
}

.main-footer-maria{
    background-color: crimson;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto auto;
    padding: 10px 5px;
}

.navbar-nav flex-grow-1 {
    color: antiquewhite;
}

a{
   color:crimson;
}

a:hover{
    color:goldenrod;
}

.main-header-maria{
    background-color:crimson;
}

ul{
    color:brown;
}

tbody{
    background-color:floralwhite;
}

thead{
    background-color:floralwhite;
    color: saddlebrown;
}

tr{
    color: crimson;
}


.vl {
    border-left: 6px solid crimson;
    position: absolute;
    height: 300px;
    left: 50%;
    top:600px;

    margin-left: -3px;
    top: 0;
}


.p-2 bd-highlight{ padding-right:570px;
}

h5{
    text-align:center;
}

.bd-highlight {
   background-color:antiquewhite;
   border-color:darkgoldenrod;
}