@model LoanModel
@{
	ViewData["Title"] = "Empréstimo";
}

<div class="text-center">

	<h3>Simulador de Empréstimo</h3>
		<div class="btn-group btn-group-lg" role="group" aria-label="Large button group">

			<a type="button" class="btn btn-outline-secondary" asp-controller="Loans" asp-action="Simulador">Simulação de Empréstimo</a>

			<a type="button" class="btn btn-outline-secondary" asp-controller="Home">Voltar</a>
	</div>
</div>
