@using System.Data.SqlClient
@using TechDebt.Utils.Database
@using TechDebt.Utils.Entities
@model LoanModel
@{
    ViewData["Title"] = "Simulador";
}

<div>
    <h3 class="text-center">Simulação de Empréstimo</h3>

    <div class="ContainerSimulador">
        <div class="FormulárioSimulador">
            <form asp-controller="Loans" asp-action="Simulador" method="post">
                <div class="FormularioOptions">
                    <input type="hidden" asp-for="Banco"/>
                    <input type="hidden" asp-for="Modalidade"/>
                    <label for="valorEmprestimo" class="form-label">Valor do empréstimo:</label>
                    <input asp-for="Valor" type="text" class="form-control" id="valorEmprestimo">
                    <div class="mb-3">
                        <label for="parcelas" class="form-label">Número de anos:</label>
                        <input asp-for="Anos" type="text" class="form-control" id="parcelas">
                    </div>
                    <br>
                    <div class="FormularioButtons">
                        <button id="botao1Simulacao" type="submit" class="btn" asp-action="Simulador">
                            Concluir
                        </button>
                        <a id="botao2CriacaoBanco" class="btn" asp-controller="Home" asp-action="Index">Voltar</a>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="result" class="form-label">Valor do empréstimo:</label>
                        <input disabled asp-for="Valor" type="text" class="form-control" id="result">

                        <label for="result2" class="form-label">Valor da parcela:</label>
                        <input disabled asp-for="valorParcela" type="text" class="form-control" id="result2">

                        <label for="result3" class="form-label">Total pago:</label>
                        <input disabled asp-for="valorTotalPago" asp-action="" type="text" class="form-control" id="result3">

                        <label for="result4" class="form-label">Juros:</label>
                        <input disabled asp-for="valorJuros" asp-action="" type="text" class="form-control" id="result4">

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>