@model LoanModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <div class="mainContainer">
        <div id="div1" class="sideContainer">
            <h1 class="display-4 text-center">Bem-vindo!</h1>
            <p>
                &nbsp&nbsp O simulador de empréstimo TechDebt contém em sua estrutura taxas de bancos específicos.
                
                <br>
                &nbsp Isto é, visando uma melhor opção para o seu bolso nas modalidades pessoal e veicular!
            </p>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Banco</th>
                        <th>Taxa de juros pessoal (a.a)</th>
                        <th>Taxa de juros veicular (a.a)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="caixaBank">
                        <td>Caixa Econômica Federal</td>
                        <td>26,00%</td>
                        <td>18,00%</td>
                    </tr>
                    <tr>
                        <td>Itaú Unibanco</td>
                        <td>72,00%</td>
                        <td>23,00%</td>
                    </tr>
                    <tr>
                        <td id="santanderBank">Banco Santander</td>
                        <td>77,00%</td>
                        <td>17,00%</td>
                    </tr>
                    <tr>
                        <td>Banco Bradesco</td>
                        <td>107,00%</td>
                        <td>24,00%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="separador"></div>
        <div id="div2" class="sideContainer">
            <form asp-controller="Loans" asp-action="Simulador" id="formBancos" class="form-row" method="post">
                <div class="formulario">
                    @*<select asp-for="Banco" class="form-select"> 
                        <option value="caixa">Caixa Econômica Federal</option>
                        <option value="itau">Itaú Unibanco</option>
                        <option value="santander">Banco Santander</option>
                        <option value="bradesco">Banco Bradesco</option>
                    </select>*@
                    <label for="inputState" class="form-label">Indique o banco desejado:</label>
                    <select id="inputState" class="form-select"  asp-for="Banco">
                        <option value="10">Caixa Econômica Federal</option>
                        <option value="20">Itaú Unibanco</option>
                        <option value="30">Banco Santander</option>
                        <option value="40">Banco Bradesco</option>
                     </select>
                <div>
                    <label for="inputState2" class="form-label">Indique a modalidade:</label>
                    <select id="inputState2" class="form-select" asp-for="Modalidade">
                        <option value="1">Pessoal</option>
                        <option value="2">Veicular</option>
                    </select>
                        <br>
                    <div class="button">
                            <button type="submit" id="Colorbutton" class="btn btn-primary">Calcular</button>
                    </div>
                </div>
                </div>
                <br>
                <div>
                </div>
            </form>
        </div>
    </div>
</div>