@{
    ViewData["Title"] = "Desenvolvedores";
}
<h1 style="color:orangered">@ViewData["Title"]</h1>

<div id="divDev" class="d-flex flex-row bd-highlight mb-3 justify-content-start">
    <br>
    <div class="p-2 bd-highlight">
        <p> Maria Claudia Cabral da Silva</p>
    </div> 
    <div class="p-2 bd-highlight">
        <p>Kayro Gomes Pereira Karsten</p>
    </div>
    <div class="p-2 bd-highlight">
        <p> Denis Henrique da Silva</p>
    </div>
    <div class="p-2 bd-highlight">
        <p> João Vinicíus Rosá</p>
    </div>
    <div class="p-2 bd-highlight">
        <p>Thayse Abigail Montibeler Alves</p>
    </div>
</div>