@{
    ViewData["Title"] = "Desenvolvedores";
}
<h1 style="color:orangered; text-align:center">@ViewData["Title"]</h1>
<br>
<div class="d-flex flex-row bd-highlight mb-3">
    <br>
    <div style="max-width:25%; min-width:25%" class="p-2 bd-highlight border">
        <h5>Maria Claudia C. da Silva</h5>
        <p>
            &nbsp; Aluna no programa Jovem Programador desde agosto de 2022, entusiasta de tecnologia cuja maior
            afinidade na parte de desenvolvimento fora a estruturação back-end de código utilizando a linguagem
            de programação C#.
            <br>
            <ul>
                <li><a href="https://www.linkedin.com/in/itisclaudia/">LinkedIn</a></li>
                <li><a href="https://github.com/mariaclaudiacs/TechDebt.git">Repositório do projeto</a></li>
                <li><a href="https://github.com/mariaclaudiacs">GitHub</a></li>
            </ul>
        </p>
    </div>
    <div style="max-width:25%; min-width:25%" class="p-2 bd-highlight border">
        <h5>Denis Henrique da Silva</h5>
        <p>
            &nbsp; Dentro do desenvolvimento do projeto integrador, afirma afinidade na parte de desenvolvimento
            que acomete a estruturação com a tecnologia MVC no Projeto Integrador.
        </p>
        <ul>
            <li><a href="https://www.linkedin.com/in/d%C3%AAnis-henrique-da-silva-024aab251/">LinkedIn</a></li>
            <li><a href="https://github.com/DenisHenriqueSilva">GitHub</a></li>
        </ul>
    </div>
    <div style="max-width:25%; min-width:25%" class="p-2 bd-highlight border">
        <h5>João Vinícius Rosá</h5>
        <p>
            &nbsp;Responsável pela estruturação back-end e criação de interações com uma entidade própria no programa,
            afirma afinidade com a parte estruturada em C#.
        </p>
         <ul>
            <li><a href="https://www.linkedin.com/in/jo%C3%A3o-vin%C3%ADcius-ros%C3%A1-643a4221a/">LinkedIn</a></li>
            <li><a href="https://github.com/JoaoViniciusR">GitHub</a></li>
        </ul>
    </div>
    <div style="max-width:25%; min-width:25%" class="p-2 bd-highlight border">
        <h5>Kayro Pereira Gomes Karsten</h5>
        <p>
            &nbsp; Com maior habituação e preferência ao back-end, realizou no projeto a transcrição dos cálculos do programa para a
            tecnologia MVC.
        </p>
         <ul>
            <li><a href="https://www.linkedin.com/in/kayro-gomes-pereira-karsten">LinkedIn</a></li>
            <li><a href="https://github.com/Kayro25">GitHub</a></li>
        </ul>
    </div>
    @*    <div class="p-2 bd-highlight">
        <h5>Thayse Abigail Montibeler Alves</h5>
        </div>*@
</div>