@{
    ViewData["Title"] = "Desenvolvedores";
}

<div class="text-center">
    <h1 style="color:orangered">@ViewData["Title"]</h1>
    <br>
    <p>Maria Claudia Cabral da Silva</p>
    <p>Kayro Gomes Pereira Karsten</p>
    <p>Denis Henrique da Silva</p>
    <p>João Vinícius Rosá</p>
    <p>Thayse Abigail Montibeler Alves</p>
</div>
