@model BankModel
@{
    ViewData["Title"] = "Adicionar Bancos";
}
<h3 class="text-center">Cadastrar banco</h3>
<div class="mainupdate">
<div class="divAdicionandoBanco">
    <form asp-controller="Banks" id="formularioAdicionarBanco" asp-action="AddBank" method="post">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" asp-for="Nome">
        </div>
        <div class="form-group">
            <label for="perfee">Taxa de juros pessoal (a.a):</label>
            <input type="text" class="form-control" asp-for="Perfee">
        </div>
        <div class="form-group">
            <label for="vehfee">Taxa de juros veicular (a.a):</label>
            <input type="text" class="form-control" id="name" asp-for="VehFee">
        </div>
        <div>
            <br>
                <div class="ButtonUpd">
            <button id="botao1Simulacao" type="submit" class="btn" style="position:relative; left:0px;">Cadastrar</button>
             <a id="voltarSimulacao" class="btn" asp-controller="Users" asp-action="Index" style="position:relative; right:20px;">Voltar</a>
            </div>
        </div>
    </form>
    </div>
</div>
<