@model BankModel
@{
    ViewData["Title"] = "Bancos";
}

<div class="text-center">
    <h3>Confirmação de exclusão</h3>
    <form asp-controller="Banks" asp-action="DeleteBank" method="post">
        <p>Você tem certeza que quer deletar o banco @Model.Nome?</p>

        <a id="botaoExcluirConfirmacao" class="btn" asp-controller="Banks" asp-action="Index">Não</a>
        <button type="submit" class="btn">Sim</button>

    </form>
</div>
