@model BankModel
@{
    ViewData["Title"] = "Bancos";
}
<div>
    <div class="mainupdate">
            <form asp-controller="Banks" asp-action="UpdateBank" method="post">
                <div class="formsoption">
    <h3 class="text-center">Alterando Bancos</h3>
                    <div class="form-group">

                        <label for="name">Nome:</label>
                        <input type="text" style="width:530px;height:38.48px" class="form-control" id="name" asp-for="Nome">
                    </div>
                    <div class="form-group">
                        <label for="tjpessoalam">Taxa de Juros pessoal a.a:</label>
                        <input type="text" class="form-control" id="tjpessoal" asp-for="Perfee">
                    </div>
                    <div>
                        <label for="tjveicularam">Taxa de Juros veicular a.a:</label>
                        <input type="text" class="form-control" id="tjveicular" asp-for="VehFee">
                    </div>
                    <br>
                    <div class="ButtonUpd">
                        <button type="submit" style=" background-color: #2be62b; color: black"; class="btn">Enviar</button>
                        <a class="btn " style="background-color: #fd3232;"1 asp-controller="Banks" asp-action="Index">Voltar</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
